<html>
    <head>
        {% comment %} <!------according to greatstack youtuber this helps us to make website more responsive--> {% endcomment %}
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>INDEX</title>
        <link rel="stylesheet" href="static/css/index.CSS">
         {% comment %} <!-----fonts from awesome 4 icons bootstreamp cdn path -----> {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       {% comment %} <!----------swiper css---------> {% endcomment %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    </head>
    <body>
        <section class="sub-header">
            <nav>
                <a href="/index.html"><img src="static/images/IMAGES/20240121_160914.png"></a>
                <div class="nav-links" id="navLinks">
                    {% comment %} <!-----fonts from awesome 4 icons bootstramp -----> {% endcomment %}
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/index.html">HOME</a></li>
                        <li><a href="/about.html">ABOUT US</a></li>
                        <li><a class="active"  href="/services.html">SERVICES</a></li>
                        <li><a href="/p-gallery.html">PRODUCT GALLRY</a></li>
                        <li><a href="/contact.html">CONTACT US</a></li>
                        <li><a href="/apo.html" class="hero-btn">APPOINTMENT</a></li>
                        <li><a href="/more.html">LOGOUT</a></li>
                        
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
            <h1>INDUSTRIAL PAINTING</h1>
        </section>
        <br>
        <br>
       <a href="/services.html"> <button class="button">
            <div class="button-box">
              <span class="button-elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                  ></path>
                </svg>
              </span>
              <span class="button-elem">
                <svg viewBox="0 0 46 40">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                  ></path>
                </svg>
              </span>
            </div>
          </button>
        </a>
        <div class="container1">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide"><img src="static/images/INDimg/WhatsApp Image 2024-01-31 at 12.16.12.jpeg" ></div>
                  <div class="swiper-slide"><img src="static/images/INDimg/WhatsApp Image 2024-01-31 at 12.16.30.jpeg" ></div>
                  <div class="swiper-slide"><img src="static/images/INDimg/WhatsApp Image 2024-01-31 at 12.16.36.jpeg" ></div>
                  <div class="swiper-slide"><img src="static/images/INDimg/WhatsApp Image 2024-01-31 at 12.16.49.jpeg" ></div>
                  <div class="swiper-slide"><img src="static/images/INDimg/WhatsApp Image 2024-01-31 at 12.17.00.jpeg" ></div>
                  <div class="swiper-slide"><img src="static/images/INDimg/WhatsApp Image 2024-01-31 at 12.17.13.jpeg" ></div>
                  <div class="swiper-slide"><img src="static/images/INDimg/WhatsApp Image 2024-01-31 at 12.30.51.jpeg" ></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
              
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div> 
        </div>
        <section class="SB">
            <h1>INDUSTRIAL PAINTING</h1>
            <div class="row12">
                <div class="Def-col1">
                    <p>Industrial paints are used in the aerospace, architectural and construction, automotive, and electronics industries.</p>
           <p>These can include walls, industrial equipment, and more.<br>Usually, this process involves specialized resources such as computer software, specialized painting machine, and skilled staff.</p>       
        </div>
        </section>
        <section class="team">
            <h1>IMPORTANCE OF INDUSTRIAL PAINTING </h1>
            <div class="row12">
            <div class="Def-col1">
                <p>Industrial painting plays a crucial role in the longevity and performance of various surfaces, particularly in industrial settings.<br>Whether it's steel beams, equipment, or structures, applying the right paint and coatings is essential to protect them from corrosion, rust, and other environmental factors.</p>
            </div>
            </div>
        </section>
        <section class="team">
            <h1>CONCLUSION</h1>
            <div class="row12">
            <div class="Def-col1">
                <p>Painting your industrial equipment regularly will help protect it against the negative effects of various factors and keep it looking sharp year after year. </p>
            </div>
            </div>
        </section>
        <br>
        <br>
          {% comment %} <!------contact----> {% endcomment %}
          <section class="ct">
            <h1>To get an appointment click below. </h1>
            <a href="apo.html" class="hero-btn">Take</a>
        </section>
        {% comment %} <!--------footer--> {% endcomment %}
        <section class="footer">
            <h3>About Us</h3>
            <p>MASS COATING is a partnership firm formed since 15th Feb 2016 .The company's registered office is at Bhosari,Pune.<br> The firm is engaged in offering Shot blassting,
                Powder Coating and Painting job work to automotive,earthmoving and agricultural components for export and domestic buisness.<br>Our plant is at Khalumbare,(Chakan)
                indistrial area.</p>
                <div class="icons">
                    <a href="/https://www.instagram.com/mass_coating?utm_source=qr&igsh=bzV3NTVjbnVzZjA5" i class="fa fa-instagram"></a></i>
                     <a href="/https://www.facebook.com/masscoating?mibextid=ZbWKwL" i class="fa fa-facebook"></a></i>
                      <a href="/https://www.linkedin.com/company/mass-coating/" i class="fa fa-linkedin"></a></i>
                </div>
                <p>©️2015 MASS COATING PVT.LTD AQC MIDDLE EAST LLC</p>
        </section>
        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu(){
                navLinks.style.right = "0";
            }
            function hideMenu(){
                navLinks.style.right = "-200px";
            }
        </script>
       
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 {% comment %} <!-------script for swiper--------> {% endcomment %}
 <script>
    const swiper = new Swiper('.swiper', {
loop: true,
pagination: {
el: '.swiper-pagination',
clickable: true,
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev',
},
});
</script>
    </body>
    </html>